<h1>Students#new</h1>

<p><%= alert %></p>

<form action="<%= students_create_path %>">
  <input type="text" name="name">
  <input type="number" name="age">
  <input type="submit" value="crear">
</form>
